<main class="h-full flex">
  <div class="p-4 border-round w-full max-w-24rem m-auto">
    <div class="text-center mb-5">
      <h1 class="text-900 text-3xl font-medium mb-3 text-main-color">
        {{ 'login.title' | translate }}
      </h1>
    </div>

    <form class="mb-5" (ngSubmit)="handleFormSubmit()" [formGroup]="form">
      <div class="card-input">
        <!-- <p-inputIcon styleClass="pi pi-user" /> -->
        <input
          id="email"
          type="text"
          pInputText
          class="w-full mb-2"
          formControlName="email"
          autocomplete="username"
          [placeholder]="'login.email' | translate"
        />
        <small class="p-error mb-3">
          {{ form.controls.email.errors | formError | translate }}
        </small>
      </div>

      <p-iconField iconPosition="left" class="card-input">
        <!-- <p-inputIcon styleClass="pi pi-user" /> -->
        <p-password
          styleClass="w-full mb-2"
          inputStyleClass="w-full"
          inputId="password"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          autocomplete="current-password"
          [placeholder]="'login.password' | translate"
        />
        <small class="p-error mb-3">
          {{ form.controls.password.errors | formError | translate }}
        </small>
      </p-iconField>

      <div class="flex align-items-center justify-content-between mb-4">
        <div class="flex align-items-center">
          <p-checkbox
            inputId="rememberme"
            [binary]="true"
            styleClass="mr-2"
            severity="secondary"
            formControlName="remember"
          />
          <label for="rememberme" class="text-900">
            {{ 'login.remember-me' | translate }}
          </label>
        </div>
        <p-button [link]="true" (click)="handleForgotPasswordButton()">
          {{ 'login.forgot-password' | translate }}
        </p-button>
      </div>

      <button
        type="submit"
        pButton
        pRipple
        severity="success"
        class="w-full justify-content-center gap-2"
        [loading]="loading()"
        iconPos="right"
      >
        {{ 'login.sign-in' | translate }}
      </button>

      <!-- <button
        type="submit"
        pButton
        pRipple
        severity="info"
        class="w-full justify-content-center gap-2"
        [loading]="loading()"
        iconPos="right"
      >
        {{ 'login.sign-in' | translate }}
      </button>

      <button
        type="submit"
        pButton
        pRipple
        severity="danger"
        class="w-full justify-content-center gap-2"
        [loading]="loading()"
        iconPos="right"
      >
        {{ 'login.sign-in' | translate }}
      </button> -->
    </form>

    <p-divider />

    <div class="w-full flex align-items-center justify-content-center">
      <span class="text-600 font-medium line-height-3">
        {{ 'login.dont-have-account' | translate }}
      </span>
      <a
        routerLink="/register"
        class="font-medium no-underline ml-2 text-blue-500 cursor-pointer text-color"
      >
        {{ 'login.create-now' | translate }}
      </a>
    </div>
  </div>

  <div class="absolute bottom-0 right-0 opacity-30 p-2 text-sm">
    {{ version }}v
  </div>
</main>

<p-confirmDialog styleClass="max-w-30rem" />
