<main class="page">
  <div class="container">
    <h1>Boilerplate Web Angular</h1>

    <h2>PrimeNG</h2>
    <div class="flex gap-2 flex-column sm:flex-row">
      <a
        pButton
        href="https://primeng.org/autocomplete"
        target="_blank"
        rel="noopener noreferrer"
      >
        Componentes
      </a>

      <a
        pButton
        href="https://blocks.primeng.org/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Blocos de código
      </a>

      <a
        pButton
        href="https://primeflex.org/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Utilitário CSS
      </a>
    </div>
  </div>
</main>
